body{background-color:lightsalmon;}

h1 {color:darkmagenta;
    font-family:arial, helvetica, sans-serif;
    text-align: center;
    font-size:40px;}
h2 {color:darkcyan;}
h3{font-family: verdana;
    color:darkcyan;}
